<p id="notice"><%= notice %></p>

<p>
  <strong>Initiated by:</strong>
  <%= @interaction.initiated_by %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
